---

cluster_name: my-cluster

machine_patch:
  machine:
    install:
      disk: /dev/vda
      image: factory.talos.dev/installer/4a0d65c669d46663f377e7161e50cfd570c401f26fd9e7bda34a0216b6f1922b:v1.7.1
    network:
      interfaces:
      # Interface used for management
      - dhcp: true
        deviceSelector:
          busPath: "0000:00:01.0"
      # Interface used to publish services
      - dhcp: false
        addresses:
        - "{{ eth1_addr_cidr }}"
        deviceSelector:
          busPath: "0000:00:02.0"

tinkerbell:
  lb_ip: "192.168.70.131"
  stack_chart_version: "0.4.3"

waiting_time_minutes: 5
