---

generic_machineconfig: controlplane.yaml

cilium:
  version: 1.15.1
  hubble_ui_emdpoint_cidr: 192.168.70.131
  l2:
    blocks:
    - cidr: "192.168.70.128/25"
    announcements:
      lease:
        duration: 3s
        renew_deadline: 1s
        retry_period: 500ms
  k8s_client_rate_limit:
    qps: 2
    burst: 5

ceph:
  manager_endpoint_cidr: 192.168.70.130 # This address is part of cilium.l2.blocks
