# Configuration files of the cluster
controlplane.yaml
worker.yaml
talosconfig
*.host.yaml

# Factory data
schematic.json
*.iso

# Talos Linux extensions
day-1/extensions/*.yaml

# Ansible artifacts
*.ini
group_vars/*.yml

# Manifests generated using helm or downloaded from internet
*.clusterctl.yaml
opensearch-operator.yaml
tinkerbell.yaml
quickwit.yaml

# MacOS
.DS_Store

# Testing and WIP stuff
tmp
