# Configuration files of the cluster
controlplane.yaml
worker.yaml
talosconfig

# Factory data
schematic.json
*.iso

# Ansible artifacts
*.ini

# Manifests generated using helm
mayastor.resources.yaml