# Configuration files of the cluster
controlplane.yaml
worker.yaml
talosconfig
*.host.yaml

# Factory data
schematic.json
*.iso

# Ansible artifacts
*.ini
group_vars/*.yml

# Manifests generated using helm or downloaded from internet
mayastor.resources.yaml
metallb-native.yaml
*.clusterctl.yaml
opensearch-operator.yaml
tinkerbell.yaml

# MacOS
.DS_Store
